.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.dll
*.so
*.dylib
*.pkl
*.pt
*.h5
*.dat
*.nv
.env
.DS_Store
.idea/
.vscode/
__pycache__/
.env
/External Libraries/
/Scratches and Consoles/
